# Cars data Analysis
Heere we have various cars with specifications
The date has been given in CSV format.  We are going to analyse Data with pandas dataframe.

## Load Cars data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
cars = pd.read_csv('./Data/cars.csv')

In [ ]:
cars.head(2)

### 1) Instruction (for data cleaning)

Find all null values in the dataset.  If there is any null value in any column, fill it with mean of that column.

In [ ]:
cars.shape

Cars Data has 478 rows and 15 Columns

In [ ]:
cars.isnull().sum()

Cylinders column has 2 null values , will be updated null values with it's mean value

In [ ]:
cars['Cylinders'].fillna(cars['Cylinders'].mean(), inplace=True)

### 2) Question (Based on Value Counts)

Check what are the different types of make are there in our dataset and what is the count(occurrence) of each make in the data?

In [ ]:
cars['Make'].value_counts().head(2)

Toyota has large number of cars(28) and Hummer has lowest(1)

In [ ]:
data = cars.groupby('Make').count()
data.head()

In [ ]:
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

In [ ]:
cars.dtypes
cars['Invoice'] =cars['Invoice'].apply(clean_currency).astype('float')
cars.head()

In [ ]:
makes= [cars['Make'].unique()]
df = cars.groupby(['Make'], as_index=False)['Invoice'].sum()
plt.figure(figsize=(20,10))
plt.bar(df['Make'], df['Invoice'])
plt.xticks(df['Make'],rotation='vertical',)
plt.show()

### 3) Instruction (Filtering)

Show all the records where origin is Asia or Europe

In [ ]:
cars[cars['Origin'].isin(['Asia','Europe'])]

There are 281 rows with Origin Asia and Europe

### 4) Instruction (Removing unwanted records)

Remove all the records (rows) where weight is above 4000

In [ ]:
cars[~(cars['Weight'] > 4000)]

cars.shap

In [ ]:
cars.shape

### 5) Instruction (Applying function on a column)

increase all the values of MPG_City column by 3

In [ ]:
cars['MPG_City'] = cars['MPG_City'].apply(lambda x:x+3)